name: Build and Sign Android APK

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: 3.38.4
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      # 解码 keystore 到 android/app 目录
      - name: Decode Keystore
        working-directory: android/app
        run: |
          echo "$KEYSTORE_FILE" | base64 --decode > keystore.jks

      # 写入环境变量，给 Gradle 用
      - name: Set up signing environment variables
        run: |
          echo "KEYSTORE_FILE=keystore.jks" >> $GITHUB_ENV
          echo "KEYSTORE_PASSWORD=$KEYSTORE_PASSWORD" >> $GITHUB_ENV
          echo "KEY_ALIAS=$KEY_ALIAS" >> $GITHUB_ENV
          echo "KEY_PASSWORD=$KEY_PASSWORD" >> $GITHUB_ENV

      - name: Build Android APK
        run: flutter build apk --release

      - name: Upload APK as artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-release.apk
